# ── Servidor ──
PORT=4000
NODE_ENV=development

# ── JWT ──
JWT_SECRET=cambia_este_secreto_muy_seguro
JWT_EXPIRES_IN=8h

# ── PostgreSQL (TypeORM) ──
DB_HOST=localhost
DB_PORT=5432
DB_USER=sissep_user
DB_PASS=sissep_pass
DB_NAME=sissep_db

# ── MongoDB (Mongoose) ──
MONGO_URI=mongodb://localhost:27017/sissep_docs

# ── Archivos ──
UPLOAD_DIR=uploads
MAX_FILE_MB=10
